[submodule "Second year/3_semestr/PizzaApp"]
	path = Second year/3_semester/Databases
	url = git@github.com:zemdam/PizzaApp.git
[submodule "Second year/4_semester/Software engineering"]
	path = Second year/4_semester/Software engineering
	url = git@github.com:gitguesser/gitguesser.git
[submodule "Third year/5_semester/Languages and tools for programming III"]
	path = Third year/5_semester/Languages and tools for programming III
	url = git@github.com:zemdam/Sokoban-Haksell.git
[submodule "Second year/4_semester/Web applications"]
	path = Second year/4_semester/Web applications
	url = git@github.com:zemdam/Web-compiler.git
